@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9923 0.0104 91.4994);
  --foreground: oklch(0.1759 0.0275 161.2531);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1759 0.0275 161.2531);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1759 0.0275 161.2531);
  --primary: oklch(0.5687 0.1498 151.9380);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6088 0.2498 29.2339);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9465 0.0314 91.6628);
  --muted-foreground: oklch(0.3525 0.0379 91.7268);
  --accent: oklch(0.7721 0.1727 64.1585);
  --accent-foreground: oklch(0.1759 0.0275 161.2531);
  --destructive: oklch(0.5799 0.2380 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5687 0.1498 151.9380);
  --chart-1: oklch(0.5687 0.1498 151.9380);
  --chart-2: oklch(0.6088 0.2498 29.2339);
  --chart-3: oklch(0.7721 0.1727 64.1585);
  --chart-4: oklch(0.6829 0.2615 345.7533);
  --chart-5: oklch(0.7443 0.1347 219.0676);
  --sidebar: oklch(0.3167 0.0793 154.3757);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7721 0.1727 64.1585);
  --sidebar-primary-foreground: oklch(0.3167 0.0793 154.3757);
  --sidebar-accent: oklch(0.4156 0.1071 152.9714);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.7721 0.1727 64.1585);
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Space Mono', monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1649 0.0308 162.2739);
  --foreground: oklch(0.9809 0.0260 91.6197);
  --card: oklch(0.2283 0.0445 158.2398);
  --card-foreground: oklch(0.9809 0.0260 91.6197);
  --popover: oklch(0.2283 0.0445 158.2398);
  --popover-foreground: oklch(0.9809 0.0260 91.6197);
  --primary: oklch(0.8484 0.2275 151.1487);
  --primary-foreground: oklch(0.1292 0.0270 165.3808);
  --secondary: oklch(0.6489 0.2370 26.9728);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2724 0.0467 159.1721);
  --muted-foreground: oklch(0.8253 0.0270 91.6606);
  --accent: oklch(0.7951 0.1631 68.6392);
  --accent-foreground: oklch(0.1292 0.0270 165.3808);
  --destructive: oklch(0.6280 0.2577 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9809 0.0260 91.6197);
  --input: oklch(0.2642 0.0387 160.3481);
  --ring: oklch(0.7951 0.1631 68.6392);
  --chart-1: oklch(0.8484 0.2275 151.1487);
  --chart-2: oklch(0.6489 0.2370 26.9728);
  --chart-3: oklch(0.7951 0.1631 68.6392);
  --chart-4: oklch(0.7337 0.2145 342.8759);
  --chart-5: oklch(0.8296 0.1375 215.2952);
  --sidebar: oklch(0.1292 0.0270 165.3808);
  --sidebar-foreground: oklch(0.9809 0.0260 91.6197);
  --sidebar-primary: oklch(0.8484 0.2275 151.1487);
  --sidebar-primary-foreground: oklch(0.1292 0.0270 165.3808);
  --sidebar-accent: oklch(0.2449 0.0403 159.5177);
  --sidebar-accent-foreground: oklch(0.9809 0.0260 91.6197);
  --sidebar-border: oklch(0.9809 0.0260 91.6197);
  --sidebar-ring: oklch(0.7951 0.1631 68.6392);
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Space Mono', monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(45, 100%, 80%);
  --shadow-2xs: 4px 4px 0px 0px hsl(45 100% 80% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(45 100% 80% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(45 100% 80% / 1.00), 4px 1px 2px -1px hsl(45 100% 80% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(45 100% 80% / 1.00), 4px 1px 2px -1px hsl(45 100% 80% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(45 100% 80% / 1.00), 4px 2px 4px -1px hsl(45 100% 80% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(45 100% 80% / 1.00), 4px 4px 6px -1px hsl(45 100% 80% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(45 100% 80% / 1.00), 4px 8px 10px -1px hsl(45 100% 80% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(45 100% 80% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
