@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9760 0.0082 91.4820);
  --foreground: oklch(0.3795 0.0309 64.7091);
  --card: oklch(0.9914 0.0098 87.4695);
  --card-foreground: oklch(0.3795 0.0309 64.7091);
  --popover: oklch(0.9914 0.0098 87.4695);
  --popover-foreground: oklch(0.3795 0.0309 64.7091);
  --primary: oklch(0.6351 0.1052 63.8590);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8921 0.0415 85.2842);
  --secondary-foreground: oklch(0.4366 0.0420 64.9722);
  --muted: oklch(0.9280 0.0263 82.3839);
  --muted-foreground: oklch(0.5479 0.0538 71.4207);
  --accent: oklch(0.8479 0.0584 89.6517);
  --accent-foreground: oklch(0.3795 0.0309 64.7091);
  --destructive: oklch(0.5679 0.1914 32.9934);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8688 0.0450 83.8927);
  --input: oklch(0.8688 0.0450 83.8927);
  --ring: oklch(0.6351 0.1052 63.8590);
  --chart-1: oklch(0.6351 0.1052 63.8590);
  --chart-2: oklch(0.5751 0.0845 67.8075);
  --chart-3: oklch(0.4983 0.0757 70.8312);
  --chart-4: oklch(0.6898 0.0865 64.3894);
  --chart-5: oklch(0.7369 0.0805 66.0333);
  --sidebar: oklch(0.9280 0.0263 82.3839);
  --sidebar-foreground: oklch(0.3795 0.0309 64.7091);
  --sidebar-primary: oklch(0.6351 0.1052 63.8590);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8479 0.0584 89.6517);
  --sidebar-accent-foreground: oklch(0.3795 0.0309 64.7091);
  --sidebar-border: oklch(0.8688 0.0450 83.8927);
  --sidebar-ring: oklch(0.6351 0.1052 63.8590);
  --font-sans: Manrope, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ADLaM Display, ui-serif, serif;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 3px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #3c322a;
  --shadow-2xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-sm: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-md: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 2px 4px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-lg: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 4px 6px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 8px 10px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-2xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2246 0.0094 107.1335);
  --foreground: oklch(0.9280 0.0263 82.3839);
  --card: oklch(0.1684 0 0);
  --card-foreground: oklch(0.9280 0.0263 82.3839);
  --popover: oklch(0.3263 0.0221 61.2098);
  --popover-foreground: oklch(0.9280 0.0263 82.3839);
  --primary: oklch(0.7369 0.0805 66.0333);
  --primary-foreground: oklch(0.2765 0.0184 59.7941);
  --secondary: oklch(0.3796 0.0246 54.5408);
  --secondary-foreground: oklch(0.9280 0.0263 82.3839);
  --muted: oklch(0.2956 0.0170 63.2887);
  --muted-foreground: oklch(0.8032 0.0335 80.9608);
  --accent: oklch(0.4208 0.0385 55.7197);
  --accent-foreground: oklch(0.9280 0.0263 82.3839);
  --destructive: oklch(0.5679 0.1914 32.9934);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3796 0.0246 54.5408);
  --input: oklch(0.3796 0.0246 54.5408);
  --ring: oklch(0.7369 0.0805 66.0333);
  --chart-1: oklch(0.7369 0.0805 66.0333);
  --chart-2: oklch(0.6898 0.0865 64.3894);
  --chart-3: oklch(0.6351 0.1052 63.8590);
  --chart-4: oklch(0.5751 0.0845 67.8075);
  --chart-5: oklch(0.4983 0.0757 70.8312);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9280 0.0263 82.3839);
  --sidebar-primary: oklch(0.7369 0.0805 66.0333);
  --sidebar-primary-foreground: oklch(0.2765 0.0184 59.7941);
  --sidebar-accent: oklch(0.4208 0.0385 55.7197);
  --sidebar-accent-foreground: oklch(0.9280 0.0263 82.3839);
  --sidebar-border: oklch(0.3796 0.0246 54.5408);
  --sidebar-ring: oklch(0.7369 0.0805 66.0333);
  --font-sans: Manrope, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ADLaM Display, ui-serif, serif;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 3px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #3c322a;
  --shadow-2xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-sm: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-md: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 2px 4px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-lg: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 4px 6px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 8px 10px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-2xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
