@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9699 0.0113 71.8999);
  --foreground: oklch(0.4597 0.0629 289.5561);
  --card: oklch(0.9870 0.0107 76.6004);
  --card-foreground: oklch(0.4597 0.0629 289.5561);
  --popover: oklch(0.9389 0.0145 64.3381);
  --popover-foreground: oklch(0.4597 0.0629 289.5561);
  --primary: oklch(0.4597 0.0629 289.5561);
  --primary-foreground: oklch(0.9699 0.0113 71.8999);
  --secondary: oklch(0.8920 0.0057 31.0551);
  --secondary-foreground: oklch(0.4597 0.0629 289.5561);
  --muted: oklch(0.9502 0.0101 58.2141);
  --muted-foreground: oklch(0.5768 0.0458 291.0006);
  --accent: oklch(0.9389 0.0145 64.3381);
  --accent-foreground: oklch(0.4597 0.0629 289.5561);
  --destructive: oklch(0.5989 0.1071 2.6555);
  --destructive-foreground: oklch(0.9699 0.0113 71.8999);
  --border: oklch(0.8431 0.0060 333.9975);
  --input: oklch(0.8920 0.0057 31.0551);
  --ring: oklch(0.6171 0.0738 305.6980);
  --chart-1: oklch(0.7555 0.1459 69.7433);
  --chart-2: oklch(0.5989 0.1071 2.6555);
  --chart-3: oklch(0.4909 0.0770 227.9983);
  --chart-4: oklch(0.6289 0.0661 210.1228);
  --chart-5: oklch(0.6171 0.0738 305.6980);
  --sidebar: oklch(0.9870 0.0107 76.6004);
  --sidebar-foreground: oklch(0.4597 0.0629 289.5561);
  --sidebar-primary: oklch(0.6171 0.0738 305.6980);
  --sidebar-primary-foreground: oklch(0.9699 0.0113 71.8999);
  --sidebar-accent: oklch(0.9389 0.0145 64.3381);
  --sidebar-accent-foreground: oklch(0.4597 0.0629 289.5561);
  --sidebar-border: oklch(0.8920 0.0057 31.0551);
  --sidebar-ring: oklch(0.6171 0.0738 305.6980);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.12), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.12), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.12), 0px 2px 4px -1px hsl(0 0% 0% / 0.12);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.12), 0px 4px 6px -1px hsl(0 0% 0% / 0.12);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.12), 0px 8px 10px -1px hsl(0 0% 0% / 0.12);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2134 0.0255 291.1310);
  --foreground: oklch(0.9088 0.0299 289.9690);
  --card: oklch(0.2413 0.0322 289.1359);
  --card-foreground: oklch(0.9088 0.0299 289.9690);
  --popover: oklch(0.2708 0.0423 289.2331);
  --popover-foreground: oklch(0.9088 0.0299 289.9690);
  --primary: oklch(0.9088 0.0299 289.9690);
  --primary-foreground: oklch(0.2134 0.0255 291.1310);
  --secondary: oklch(0.3717 0.0358 291.0973);
  --secondary-foreground: oklch(0.9088 0.0299 289.9690);
  --muted: oklch(0.2512 0.0263 287.6155);
  --muted-foreground: oklch(0.6539 0.0444 291.2325);
  --accent: oklch(0.2708 0.0423 289.2331);
  --accent-foreground: oklch(0.9088 0.0299 289.9690);
  --destructive: oklch(0.6977 0.1565 4.2242);
  --destructive-foreground: oklch(0.2134 0.0255 291.1310);
  --border: oklch(0.3717 0.0358 291.0973);
  --input: oklch(0.4399 0.0392 290.4171);
  --ring: oklch(0.7760 0.0945 304.9945);
  --chart-1: oklch(0.8429 0.1100 74.6019);
  --chart-2: oklch(0.6977 0.1565 4.2242);
  --chart-3: oklch(0.5277 0.0793 227.7159);
  --chart-4: oklch(0.8219 0.0543 209.5588);
  --chart-5: oklch(0.7760 0.0945 304.9945);
  --sidebar: oklch(0.2413 0.0322 289.1359);
  --sidebar-foreground: oklch(0.9088 0.0299 289.9690);
  --sidebar-primary: oklch(0.7760 0.0945 304.9945);
  --sidebar-primary-foreground: oklch(0.2134 0.0255 291.1310);
  --sidebar-accent: oklch(0.2708 0.0423 289.2331);
  --sidebar-accent-foreground: oklch(0.9088 0.0299 289.9690);
  --sidebar-border: oklch(0.3717 0.0358 291.0973);
  --sidebar-ring: oklch(0.7760 0.0945 304.9945);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
