@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9876 0.0044 185.3322);
  --foreground: oklch(0.3079 0.0364 195.4276);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3079 0.0364 195.4276);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3079 0.0364 195.4276);
  --primary: oklch(0.6840 0.1270 176.8287);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9690 0.0236 203.3736);
  --secondary-foreground: oklch(0.4968 0.0835 205.3842);
  --muted: oklch(0.9585 0.0066 185.2676);
  --muted-foreground: oklch(0.5873 0.0387 196.1462);
  --accent: oklch(0.9678 0.0275 211.0568);
  --accent-foreground: oklch(0.4847 0.0871 217.9470);
  --destructive: oklch(0.6514 0.2207 6.1745);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9214 0.0198 186.0428);
  --input: oklch(0.9214 0.0198 186.0428);
  --ring: oklch(0.6840 0.1270 176.8287);
  --chart-1: oklch(0.6840 0.1270 176.8287);
  --chart-2: oklch(0.6990 0.1212 216.6395);
  --chart-3: oklch(0.6330 0.1620 252.0695);
  --chart-4: oklch(0.7494 0.1669 155.9458);
  --chart-5: oklch(0.6856 0.1898 352.1927);
  --sidebar: oklch(0.9804 0.0050 185.3165);
  --sidebar-foreground: oklch(0.4136 0.0437 195.5958);
  --sidebar-primary: oklch(0.6840 0.1270 176.8287);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9537 0.0237 203.3701);
  --sidebar-accent-foreground: oklch(0.5349 0.0990 177.2880);
  --sidebar-border: oklch(0.9326 0.0138 186.2170);
  --sidebar-ring: oklch(0.6840 0.1270 176.8287);
  --font-sans: Plus Jakarta Sans, Quicksand, system-ui, sans-serif;
  --font-serif: Chillax, Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(171, 50%, 20%);
  --shadow-2xs: 0px 8px 20px -2px hsl(171 50% 20% / 0.04);
  --shadow-xs: 0px 8px 20px -2px hsl(171 50% 20% / 0.04);
  --shadow-sm: 0px 8px 20px -2px hsl(171 50% 20% / 0.08), 0px 1px 2px -3px hsl(171 50% 20% / 0.08);
  --shadow: 0px 8px 20px -2px hsl(171 50% 20% / 0.08), 0px 1px 2px -3px hsl(171 50% 20% / 0.08);
  --shadow-md: 0px 8px 20px -2px hsl(171 50% 20% / 0.08), 0px 2px 4px -3px hsl(171 50% 20% / 0.08);
  --shadow-lg: 0px 8px 20px -2px hsl(171 50% 20% / 0.08), 0px 4px 6px -3px hsl(171 50% 20% / 0.08);
  --shadow-xl: 0px 8px 20px -2px hsl(171 50% 20% / 0.08), 0px 8px 10px -3px hsl(171 50% 20% / 0.08);
  --shadow-2xl: 0px 8px 20px -2px hsl(171 50% 20% / 0.20);
  --tracking-normal: -0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1592 0.0163 195.6380);
  --foreground: oklch(0.9724 0.0044 185.3299);
  --card: oklch(0.2032 0.0218 195.5721);
  --card-foreground: oklch(0.9724 0.0044 185.3299);
  --popover: oklch(0.2032 0.0218 195.5721);
  --popover-foreground: oklch(0.9724 0.0044 185.3299);
  --primary: oklch(0.8607 0.1582 177.3031);
  --primary-foreground: oklch(0.1752 0.0187 195.5823);
  --secondary: oklch(0.3004 0.0342 203.2277);
  --secondary-foreground: oklch(0.9527 0.0434 203.2352);
  --muted: oklch(0.2601 0.0242 195.7669);
  --muted-foreground: oklch(0.7768 0.0173 184.8604);
  --accent: oklch(0.3002 0.0389 212.6143);
  --accent-foreground: oklch(0.9448 0.0408 211.1078);
  --destructive: oklch(0.5520 0.2107 10.5045);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3331 0.0335 195.6612);
  --input: oklch(0.3331 0.0335 195.6612);
  --ring: oklch(0.8607 0.1582 177.3031);
  --chart-1: oklch(0.8607 0.1582 177.3031);
  --chart-2: oklch(0.7741 0.1272 215.0981);
  --chart-3: oklch(0.7080 0.1276 250.0683);
  --chart-4: oklch(0.7958 0.1740 156.2559);
  --chart-5: oklch(0.7228 0.1644 350.7352);
  --sidebar: oklch(0.1426 0.0142 195.6773);
  --sidebar-foreground: oklch(0.9270 0.0056 185.2913);
  --sidebar-primary: oklch(0.8607 0.1582 177.3031);
  --sidebar-primary-foreground: oklch(0.1752 0.0187 195.5823);
  --sidebar-accent: oklch(0.2556 0.0226 203.1229);
  --sidebar-accent-foreground: oklch(0.9786 0.0243 185.9551);
  --sidebar-border: oklch(0.2601 0.0242 195.7669);
  --sidebar-ring: oklch(0.8607 0.1582 177.3031);
  --font-sans: Plus Jakarta Sans, Quicksand, system-ui, sans-serif;
  --font-serif: Chillax, Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
